<%- include header %>
<div class='post_list'>
  <div class='p404'><%= msg %></div>
  <div class='post_info p404m'>
    <a href='/tag' target='_blank'>tag</a>&nbsp;&nbsp;
    推荐使用：
    <span aria-hidden="true" title="Chrome" class="icon-chrome"></span>
    <span aria-hidden="true" title="Firefox" class="icon-firefox"></span>
    <span aria-hidden="true" title="Opera" class="icon-opera"></span>
    <span aria-hidden="true" title="Safari" class="icon-safari"></span>
    <span aria-hidden="true" title="IE9+" class="icon-IE"></span>&nbsp;&nbsp;
    订阅：
    <a href="Home/Feed" style="text-decoration:none;" target="_blank">
      <span aria-hidden="true" title="订阅" style="color:#009933; cursor:pointer;" class="icon-feed"></span>
    </a>
  </div>
</div>
<%- include footer %>