<%- include header %>

<div class="auth_list auth_list_title">做夢也很累</div>
<div class="auth_list">
    <img src="/images/head.jpg" height="140" width="140" alt="Dn9x" title="Dn9x" />
</div>
<div class="auth_list">Dn9x</div>
<div class="auth_list">xiuxu123@live.cn</div>
<div class="auth_list">程序員</div>
<div class="auth_list">我沒有那麼偉大搞原創，我只是喜歡踩著別人的肩膀網上爬！<p />我的網站沒有備案所以沒有域名</div>
<div class="auth_list auth_list_spce"></div>

<%- include footer %>